.main::before {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-image: linear-gradient(to right,
			rgba(0, 0, 0, 0.1) 0%,
			rgba(0, 0, 0, 0.2) 50%,
			rgba(0, 0, 0, 0.1));
	background-size: 100% 100%;
}

.container {
	width: 100%;
	min-height: 100dvh;
	position: relative;
	padding: 0;
	background-color: var(--mantine-color-body);
}

.container::before {
	content: "";
	position: fixed;
	width: var(--container-size);
	height: 100%;
	z-index: -1;
	background-color: var(--mantine-color-body);
}
